extends layout

block content
  section
    aside
      .logo
        a(href="#")
          img(src="img/starboard_comp.png")
        .me-info
          h1 Thomas Rodriguez
          p A blog about code
    .social 
      .me-pic
        img(src="img/tommy.png")
      .me-blurb
        p Thomas Rodriguez is an aspiring developer in San Diego with experience in Python, Ruby, and Javascript Web Development.
      .me-connect
        .left        
          p His github:
          p
            a(href="#") trodrigu
        .right 
          p He tweets at:
          p
            a(href="#") @tom_m_rod
    article
      .index-post
        a(href="/post.html")
          h1 My first post of sheer wow
        .date July 4th, 2015
        p VHS biodiesel authentic Thundercats whatever, Bushwick farm-to-table DIY asymmetrical. Fixie Brooklyn McSweeney's, dreamcatcher pork belly readymade 3 wolf moon mlkshk flannel street art fingerstache...
        a(href="#")
          .read Read More
      .index-post
        a(href="/post.html")
          h1 My first post of sheer wow
        .date July 4th, 2015
        p VHS biodiesel authentic Thundercats whatever, Bushwick farm-to-table DIY asymmetrical. Fixie Brooklyn McSweeney's, dreamcatcher pork belly readymade 3 wolf moon mlkshk flannel street art fingerstache...
        a(href="#")
          .read Read More
