extends layout
block content
  .post-logo
    a(href="/index.html")
      img(src="img/starboard_comp.png")
  .post-article
    h1 This is a great article name
    .date July 4th 2015
    :markdown
      **Iphone** umami photo booth, cold-pressed stumptown irony tote bag. Neutra Pinterest sriracha single-origin coffee, VHS listicle Thundercats beard Intelligentsia Tumblr irony Williamsburg fanny pack. Jean shorts scenester kale chips try-hard, flexitarian mumblecore mlkshk Pitchfork pickled tote bag. Flexitarian cronut paleo drinking vinegar whatever fanny pack. Neutra fashion axe kale chips cardigan, readymade actually fingerstache Portland DIY stumptown distillery tote bag pork belly. Vinyl kogi biodiesel Portland, migas authentic ugh actually leggings Pinterest crucifix mustache twee. Dreamcatcher Helvetica typewriter kogi art party deep v, Thundercats sriracha iPhone swag 90's before they sold out.

    p Jean shorts messenger bag ethical Thundercats. Church-key umami artisan readymade, meh tousled literally next level squid drinking vinegar skateboard. Flexitarian sriracha kale chips, photo booth meditation trust fund paleo Blue Bottle sartorial blog readymade ugh cronut. Craft beer Bushwick put a bird on it pickled selvage, narwhal 90's vegan. Food truck XOXO flexitarian kogi, keytar Odd Future farm-to-table High Life single-origin coffee synth forage meggings gluten-free beard four loko. IPhone readymade ugh, cray artisan DIY master cleanse. Bicycle rights synth wayfarers bespoke gentrify.
  aside
  .social-post
    .me-pic-post
      img(src="img/tommy.png")
    .me-blurb-post
      p Thomas Rodriguez is an aspiring developer in San Diego with experience in Python, Ruby, and Javascript Web Development.
    .me-connect-post
      .left-post
        p His github:
        a(href="#") trodrigu
      .right 
        p He tweets at:
        a(href="#") @tom_m_rod
