+desktop()
  article
    col(3/4)
    .index-post
      padding-bottom: 6em
      a
        text-decoration: none
        color: black
      h1
        transition: all .3s ease-in-sine
        hover-color: blue
        fs: 2.9rem
        color: #333
        bold()
        margin-bottom: 1.0em
        margin-top: 0
      .date 
        text-transform: uppercase 
        font-family: Georgia
        bold()
      p
        fs: 1.5em
        font-family: Georgia
        line-height: 1.6
        letter-spacing: 0.03em
      a
        .read
          button()
          transition: all .3s ease-in-sine
