+desktop()
  .post-logo
    margin-bottom: 0
    padding-bottom: 0
    img
      width: 80px
      padding-left: 1.0em
      padding-top: 1.5em
  .post-article
    center(960px)
    h1
      padding-top: 0
      margin-top: 0
      text-align: center
      fs: 4.5em
    .date
      text-align: center
      bold()
      text-transform: uppercase
      font-family: Georgia
    .date::before
      content: "\00d7\00d7";
      color: rgba(0, 0, 0, 0.2)
    .date::after
      content: "\00d7\00d7";
      color: rgba(0, 0, 0, 0.2)
    p
      padding-top: 2em
      padding-left: 1.0em
      padding-right: 1.0em
      fs: 1.8em
      font-family: Georgia
      line-height: 1.6

// Overriding style of footer from index with tablet styles I really need to refactor this properly
.social-post
    col(1)
    +above(488px)
      center(960px)
    .me-pic-post
      width: 140px
      float: left
      img
        width: 130px 
        padding-left: .3em
        padding-bottom: 2.8em
    .me-blurb-post
      +above(610px)
        col(7/10)
      +below(610px)
        col(5.3/10)
      p
        font-family: Georgia
        line-height: 1.6
        margin-top:-.3em
        padding-bottom: .9em
        fs: 1.0em
        padding-left: .5em
    .me-connect-post
      padding-bottom: 2em
      col(1)
      +above(488px)
        col(6/10)
      .left-post
        float: left
        p
          width: 115px
        +below(488px)
          p 
            padding-left: 1.2em
          a
            padding-left: 1.3em
      .right-post
        col(1/2)
        +below(488px)
          p
            padding-left: .8em
          a
            padding-left: .8em
      div
        p
          font-family: Georgia
          fs: 1.0em
          italic()
          margin-bottom: 0
          color: #ABADA9
        a
          fs: 0.9em
          text-transform: uppercase
          bold()
          color: blue
          text-decoration: none
          font-style: normal
