+tablet()
  .post-logo
    margin-bottom: 0
    padding-bottom: 0
    img
      width: 80px
      padding-left: 1.0em
      padding-top: 1.5em
  .post-article
    h1
      padding-top: 0
      margin-top: 0
      text-align: center
      fs: 2.5em
    .date
      text-align: center
      bold()
      text-transform: uppercase
      font-family: Georgia
    p
      padding-left: 1.0em
      padding-right: 1.0em
      fs: 1.2em
      font-family: Georgia
      line-height: 1.6
