+desktop()
  .social
      col(1/4)
      .me-pic
        width: 170px
        float: left
        img
          width: 170px 
          padding-left: 1em
          padding-bottom: 2.8em
      .me-blurb
          col(8/10)
        p
          font-family: Georgia
          line-height: 1.6
          margin-top:-.3em
          padding-bottom: .9em
          fs: 1.0em
          padding-left: 1.8em
      .me-connect
          col(10/10)
        .left
          p
            padding-left: 1.8em
          a
            margin-right: -1.5em
        div
          col(1/1)
          p
            font-family: Georgia
            fs: 1.0em
            italic()
            margin-bottom: 0
            color: #ABADA9
          a
            fs: 0.9em
            text-transform: uppercase
            bold()
            color: blue
            text-decoration: none
            font-style: normal
