+mobile()
  .social
      col(1)
      stack()
      .me-pic
        float:left
        img
          width: 130px 
          padding-left: .3em
          padding-bottom: 2.8em
      .me-blurb
        col(5.3/10)
        p
          font-family: Georgia
          line-height: 1.6
          margin-top:-.3em
          padding-bottom: .9em
          padding-left: .5em
          fs: 1.0em
      .me-connect
        col(1)
        .left
          float: left
          p
            padding-left: 1.2em
            width: 115px
        .right
          col(1/2)
        div
          p
            font-family: Georgia
            fs: 1.0em
            italic()
            margin-bottom: 0
            margin-top: 0
            color: #ABADA9
          a
            fs: 0.9em
            text-transform: uppercase
            bold()
            color: blue
            text-decoration: none
            font-style: normal


