---
title: 'Going To Class'
date: November, 27, 2015
_content: false
snippet: Ruby is one interesting beast.  Seriously.  Everything is an object and after realizing this it is easy to see how Ruby is so.. 
---
extends ../views/single_post_layout
block content
  include:marked marked/Going-To-Class-11-27-15.md
