---
title: 'Learn Ruby Adventure'
date: July, 9th, 2015
_content: false
snippet: I spent the better part of the last two weeks finishing up a basic ruby centric app that was started about two weeks ago.  The interesting... 
---
extends ../views/single_post_layout
block content
  include:marked marked/Learn-Ruby-Adventure-7-9-15.md
