---
title: 'Tap Room'
date: November, 15, 2015
_content: false
snippet: After awhile of rolling around in many variations of converting hash keys from strings to symbols I realized...

---

extends ../views/single_post_layout
block content
  include:marked marked/Tap-Room-11-15-15.md
