---
title: 'Write Some Tests Please'
date: September, 8, 2015
_content: false
snippet: My second technical interview ever.  Pulled up the demo deployed via heroku and of course... it didn't work as intended.
---
extends ../views/single_post_layout
block content
  include:marked marked/Write-Some-Tests-Please-9-8-15.md
